{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <h1>Connexion</h1>
    
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    
    <p>Cliquez sur le bouton ci-dessous pour vous connecter :</p>
    <a href="{{ path('oidc_start') }}" class="btn">Se connecter</a>

{% endblock %}
