@use "./base/variables" as *;

.navbar {
  &-container {
    background-color: $lightgrey;

  }

  &__link {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $grey;
    }

    &-container {
      display: flex;
      justify-content: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}