<header>
    <nav class="navbar-container">
        <ul class="navbar__link-container">
            <a href="{{ path('list_type') }}">
                <li class="navbar__link"> {{ 'type' | trans }}</li>
            </a>
            <li class="navbar__link">{{ 'pokedex' | trans }}</li>
            <li class="navbar__link"></li>
        </ul>
    </nav>
</header>