    <header>
        <nav class="navbar-container">
            <ul class="navbar__link-container">
                <li class="navabr__link">{{ 'type' | trans }}</li>
                <li class="navabr__link">{{ 'pokedex' | trans }}</li>
                <li class="navabr__link"></li>
            </ul>
        </nav>
    </header>