<header>
    <nav class="navbar-container">
    {% if app.user %}
        <ul class="navbar__link-container">
            <a href="{{ path('app_album') }}">
                <li class="navbar__link"> {{ 'Albums' | trans }}</li>
            </a>
            <a href="{{ path('app_logout') }}">
                <li class="navbar__link"> {{ 'Logout' | trans }}</li>
            </a>
        </ul>
    {% endif %}
    </nav>
</header>